@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #ededed;
  --card: #191919;
  --card-foreground: #ededed;
  --muted: #242424;
  --muted-foreground: #a1a1aa;
  --border: #1a1a1a;
  --primary: #b300e4;
  --primary-foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #ededed;
    --card: #191919;
    --card-foreground: #ededed;
    --muted: #242424;
    --muted-foreground: #a1a1aa;
    --border: #1a1a1a;
    --primary: #b300e4;
    --primary-foreground: #ffffff;
  }
}

*, ::before, ::after {
  border-color: #1a1a1a;
}

body, html {
  background-color: #121212 !important;
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
